.navigation_menu{
    background: #2f9c53;
    
   
   
}
.navbar-light .navbar-nav .nav-link{
    color:#fff !important;
}
.navbar-light .navbar-brand {
    color: #fff;
}


.dropdown-item{
    a{
        color:#000 !important;
    }
}